# fly.toml app configuration file generated for botname on 2025-11-28T09:11:46Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'botname'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
